<html>
    <head>
        <title>El blog de melena ;)</title>
    </head>
    <body>
        <div>
			<center>
				<h1><a href="/">El blog de melena ;)</a></h1>
				<br>
				<br>
            </center>
        </div>

        <div>
            <h2><a href="">Mi primer Posteo</a></h2>
            <p>Se le denomina resistencia eléctrica a la oposición al flujo de corriente eléctrica a través de un conductor.1​2​ La unidad de resistencia en el Sistema Internacional es el ohmio, que se representa con la letra griega (Ω), en honor al físico alemán Georg Simon Ohm, quien descubrió el principio que ahora lleva su nombre.</p>
            <p><em>Publicado: 04.05.2022, 19:45</em></p>
        </div>

        <div>
            <h2><a href="">Mi segundo posteo</a></h2>
            <p>Un campo electromagnético es un campo físico, de tipo tensorial, producido por aquellos elementos cargados eléctricamente, que afecta a partículas con carga eléctrica. Convencionalmente, dado un sistema de referencia, el campo electromagnético se divide en una "parte eléctrica" y en una "parte magnética". Sin embargo, esta distinción no puede ser universal sino dependiente del observador. Así un observador en movimiento relativo respecto al sistema de referencia medirá efectos eléctricos y magnéticos diferentes, que un observador en reposo respecto a dicho sistema. Esto ilustra la relatividad de lo que se denomina "parte eléctrica" y "parte magnética" del campo electromagnético. Como consecuencia de lo anterior tenemos que ni el "vector" campo eléctrico ni el "vector" de inducción magnética se comportan genuinamente como magnitudes físicas de tipo vectorial, sino que juntos constituyen un tensor para el que sí existen leyes de transformación físicamente esperables.</p>
            <p><em>Publicado: 04.05.2022, 19:45</em></p>
        </div>
    </body>
</html>
